# Environment variables declared in this file are used by Prisma.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Vercel Postgres variables (Vercel will provide these automatically in production)
POSTGRES_PRISMA_URL="postgres://default:..."
POSTGRES_URL_NON_POOLING="postgres://default:..."
NEXT_PUBLIC_APP_URL="http://localhost:3000"
