# Environment variables declared in this file are used by Prisma.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Vercel Postgres variables (Vercel will provide these automatically in production)
POSTGRES_PRISMA_URL="postgresql://user:password@localhost:5432/db?pgbouncer=true"
POSTGRES_URL_NON_POOLING="postgresql://user:password@localhost:5432/db"

# Public URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
